// var colors
$primary_color: #0084f4;
$primary_colorBackground: #213a8f;
$primary_colorLight: rgba(0, 94, 153, 0.3);
$button_primary_color: #0084f4;
$button_delete_color: #ff0077;
$button_delete_backgroundcolor: #d80065;
$color_textDark: black;
$color_textLight: white;
$color_textGray: #96999b;
$color_link: #daac38;
$rating_high: #00cf00;
$rating_medium: #fc9f62;
$rating_low: #ff626a;